<div class="container-fluid background-light">
  <div class="d-flex">
    <%= render "shared/sidebar" %>
    
    <div class="container mpc-wrapper">
      <div class="frame">
        <div class="screen-wrapper">
          <p id="screenName" class="screen-name"><%= @product.name %></p>
          <p class="screen-content"><%= @product.content %></p>
        </div>
        <div class="brand-wrapper">
          <div class="brand">SAMPLER</div>
          <div class="brand2">Beatmakers.com</div>
        </div>
        <div class="pads-wrapper">
          <div class="pad1">
            <div class= "pad-sound" onclick="document.getElementById('audio').play()"> Pad-1 **********<audio id="audio"><source src="sound.wav" type="audio/wav"></audio></div>
          </div>

          <div class="pad2">
            <div class= "pad-sound" onclick="document.getElementById('audio2').play()"> Pad-2 **********<audio id="audio2"><source src="sound2.wav" type="audio/wav"></audio></div>
          </div>

          <div class="pad3">
            <div class= "pad-sound" onclick="document.getElementById('audio3').play()"> Pad-3 **********<audio id="audio3"><source src="sound3.wav" type="audio/wav"></audio></div>
          </div>

          <div class="pad4">
            <div class= "pad-sound" onclick="document.getElementById('audio').play()"> Pad-4 **********<audio id="audio"><source src="sound.wav" type="audio/wav"></audio></div>
          </div>

          <div class="pad5">
            <div class= "pad-sound" onclick="document.getElementById('audio').play()"> Pad-5 **********<audio id="audio"><source src="sound.wav" type="audio/wav"></audio></div>
          </div>

          <div class="pad6">
            <div class= "pad-sound" onclick="document.getElementById('audio').play()"> Pad-6 **********<audio id="audio"><source src="sound.wav" type="audio/wav"></audio></div>
          </div>

          <div class="pad7">
            <div class= "pad-sound" onclick="document.getElementById('audio').play()"> Pad-7 **********<audio id="audio"><source src="sound.wav" type="audio/wav"></audio></div>
          </div>

          <div class="pad8">
            <div class= "pad-sound" onclick="document.getElementById('audio').play()"> Pad-8 **********<audio id="audio"><source src="sound.wav" type="audio/wav"></audio></div>
          </div>

          <div class="pad9">
            <div class= "pad-sound" onclick="document.getElementById('audio').play()"> Pad-9 **********<audio id="audio"><source src="sound.wav" type="audio/wav"></audio></div>
          </div>
        </div>
        <div class="scroller">
          <div class="scroller-circle"></div>
        </div>
        <div class="buttons-wrapper">
          <div class="rec">
            <div class="rec-symbol"></div>
          </div>
          <div class="play">
            <div class="play-symbol"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
