<div class="carousel-item col-md-4 active">
  <div class="map-container">
    <div>
      <div class="card-instrument-inline m-4">
        <img class="img-fluid d-block" src="jd.jpg" alt="slide 1">
        <div class="p-3">
          <div class="div">
            <h2>J Dilla</h2>
            <h6><span class="">119 sounds</span></h6>
            <div class="btn btn-success">$29,99</div>	
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
<div class="carousel-item col-md-4">
  <div class="map-container">
    <div>
      <div class="card-instrument-inline m-4">
        <img class="img-fluid d-block" src="primo.jpg" alt="slide 2">
        <div class="card-instrument-inline-infos p-3">
          <h2>J Dilla</h2>
          <h6><span class="text-instrument-inline">119 sounds</span></h6>
          <div class="d-flex justify-content-end">
            <div class="btn btn-success">$29,99</div>	
          </div>         
        </div>
      </div>
    </div>
  </div>
</div>
<div class="carousel-item col-md-4">
  <div class="map-container">
    <div>
      <div class="card-instrument-inline m-4">
        <img class="img-fluid d-block" src="dre.jpg" alt="slide 3">
        <div class="card-instrument-inline-infos p-3">
          <h2>J Dilla</h2>
          <h6><span class="text-instrument-inline">119 sounds</span></h6>
          <div class="d-flex justify-content-end">
            <div class="btn btn-success">$29,99</div>	
          </div>          
        </div>
      </div>
    </div>
  </div>
</div>
<div class="carousel-item col-md-4">
  <div class="map-container">
    <div>
      <div class="card-instrument-inline m-4">
        <img class="img-fluid d-block" src="jd.jpg" alt="slide 4">
        <div class="card-instrument-inline-infos p-3">
          <h2>J Dilla</h2>
          <h6><span class="text-instrument-inline">119 sounds</span></h6>
          <div class="d-flex justify-content-end">
            <div class="btn btn-success">$29,99</div>	
          </div>          
        </div>
      </div>
    </div>
  </div>
</div>
<div class="carousel-item col-md-4">
  <div class="map-container">
    <div>
      <div class="card-instrument-inline m-4">
        <img class="img-fluid d-block" src="jd.jpg" alt="slide 5">
        <div class="card-instrument-inline-infos p-3">
          <h2>J Dilla</h2>
          <h6><span class="text-instrument-inline">119 sounds</span></h6>
          <div class="d-flex justify-content-end">
            <div class="btn btn-success">$29,99</div>	
          </div>          
        </div>
      </div>
    </div>
  </div>
</div>
<div class="carousel-item col-md-4">
  <div class="map-container">
    <div>
      <div class="card-instrument-inline m-4">
        <img class="img-fluid d-block" src="jd.jpg" alt="slide 6">
        <div class="card-instrument-inline-infos p-3">
          <h2>J Dilla</h2>
          <h6><span class="text-instrument-inline">119 sounds</span></h6>
          <div class="d-flex justify-content-end">
            <div class="btn btn-success">$29,99</div>	
          </div>          
        </div>
      </div>
    </div>
  </div>
</div>
<div class="carousel-item col-md-4">
  <div class="map-container">
    <div>
      <div class="card-instrument-inline m-4">
        <img class="img-fluid d-block" src="jd.jpg" alt="slide 7">
        <div class="card-instrument-inline-infos p-3">
          <h2>J Dilla</h2>
          <h6><span class="text-instrument-inline">119 sounds</span></h6>
          <div class="d-flex justify-content-end">
            <div class="btn btn-success">$29,99</div>	
          </div>          
        </div>
      </div>
    </div>
  </div>
</div>





