<div class="container">
  <div class="frame">
    <div class="screen-wrapper"></div>
    <div class="brand-wrapper">
      <div class="brand">SAMPLER</div>
      <div class="brand2">Beatmakers.com</div>
    </div>
    <div class="pads-wrapper">
      <div class="pad1">
        <audio id="audio"><source src="sound.wav" type="audio/wav"></audio>
        <div class= "pad-sound" onclick="document.getElementById('audio').play()"> Pad-1 **********<audio><source src="sound.wav" type="audio/wav"></audio></div>
      </div>

      <div class="pad2">
        <audio id="audio"><source src="sound.wav" type="audio/wav"></audio>
        <div class= "pad-sound" onclick="document.getElementById('audio').play()"> Pad-2 **********<audio><source src="sound.wav" type="audio/wav"></audio></div>
      </div>

      <div class="pad3">
        <audio id="audio"><source src="sound.wav" type="audio/wav"></audio>
        <div class= "pad-sound" onclick="document.getElementById('audio').play()"> Pad-3 **********<audio><source src="sound.wav" type="audio/wav"></audio></div>
      </div>

      <div class="pad4">
        <audio id="audio"><source src="sound.wav" type="audio/wav"></audio>
        <div class= "pad-sound" onclick="document.getElementById('audio').play()"> Pad-4 **********<audio><source src="sound.wav" type="audio/wav"></audio></div>
      </div>

      <div class="pad5">
        <audio id="audio"><source src="sound.wav" type="audio/wav"></audio>
        <div class= "pad-sound" onclick="document.getElementById('audio').play()"> Pad-5 **********<audio><source src="sound.wav" type="audio/wav"></audio></div>
      </div>

      <div class="pad6">
        <audio id="audio"><source src="sound.wav" type="audio/wav"></audio>
        <div class= "pad-sound" onclick="document.getElementById('audio').play()"> Pad-6 **********<audio><source src="sound.wav" type="audio/wav"></audio></div>
      </div>

      <div class="pad7">
        <audio id="audio"><source src="sound.wav" type="audio/wav"></audio>
        <div class= "pad-sound" onclick="document.getElementById('audio').play()"> Pad-7 **********<audio><source src="sound.wav" type="audio/wav"></audio></div>
      </div>

      <div class="pad8">
        <audio id="audio"><source src="sound.wav" type="audio/wav"></audio>
        <div class= "pad-sound" onclick="document.getElementById('audio').play()"> Pad-8 **********<audio><source src="sound.wav" type="audio/wav"></audio></div>
      </div>

      <div class="pad9">
        <audio id="audio"><source src="sound.wav" type="audio/wav"></audio>
        <div class= "pad-sound" onclick="document.getElementById('audio').play()"> Pad-9 **********<audio><source src="sound.wav" type="audio/wav"></audio></div>
      </div>
    </div>
    <div class="scroller"></div>
    <div class="buttons-wrapper">
      <div class="rec">
        <div class="rec-button"></div>
      </div>
      <div class="play">
        <div class="play-button"></div>
      </div>
    </div>
  </div>
</div>
