<!--HERO-->
<div class="hero-image">
  <div class="hero-text">
    <h1>STEP YOUR GAME UP</h1>
    <br>
    <%= link_to products_index_path do %>
      <button class="btn btn-danger">Click to Explore</button>
    <% end %>
  </div>
</div>

<!--ICONS-->
<div class="container text-center mt-5">
  <h1>GET IT FROM THE BEST</h1>
  <p>Take a closer look at our features</p>
  <div class="home-card-wrapper d-flex">
    <div class="home-card mx-4">
      <img class="mb-3" src="soundwave.svg"/>
      <h4 class="home-title">Producer kits</h4>
      <p class="home-content text-center">Directly sampled or inspired drum sounds from the best producers in the game</p>
    </div>
    <div class="home-card mx-4">
      <img class="mb-3" src="speaker.svg"/>
      <h4 class="home-title">Machine kits</h4>
      <p class="home-content text-center">Know for their iconic sounds, get it straight from the TR-808, 909, Lynn, or MPC libraries</p>
    </div>
    <div class="home-card mx-4">
      <img class="mb-3" src="adjust.svg"/>
      <h4 class="home-title">Instruments kits</h4>
      <p class="home-content text-center">Live acoustic instrument libraries. Contains piano, rhodes, horns, strings, flutes and more</p>
    </div>
  </div>
</div>

<!--CAROUSEL-->
<h1 class="latest-kits container text-center mt-5">OUR LATEST KITS</h1>
<div class="carousel mt-3">
  <%= render "shared/carousel" %>
</div>

<!--MPC-->
<div class="mpc-banner container">
  <h1 class="text-center">TRY THE<span class=""> KITS </span>FROM OUR <span class="red">SAMPLER</span></h1>
  <div class="mpc-container">
    <%= render 'shared/mpc' %>
  </div>
</div>
