<div class="homepage">
    <%= image_tag("hs4.jpg", style: "background-image, height: 30px;", class: "banner img-fluid") %>
  <!--
  <div class="banner img-fluid" > 
    <%= cl_image_tag("https://res.cloudinary.com/dehuad3aa/image/upload/v1622456866/get-your-drums/Beat-Making-Equipment-For-Beginners-_ttyp8t_fwgdak.jpg",
      width: 1263, height: 555, crop: :scale) %>
  </div>
  -->
</div>

