<!--HERO-->
<div class="hero-image">
  <div class="hero-text">
    <h1>STEP YOUR GAME UP</h1>
    <br>
    <button class="btn btn-danger">Click to Explore</button>
  </div>
</div>

<!--ICONS-->
<div class="container home-container text-center mt-5">
  <h1 class="home-title">GET IT FROM THE BEST</h1>
  <p class="home-subtitle">Take a closer look at our features</p>
  <div class="home-card-wrapper d-flex">
    <div class="home-card mx-4">
      <img class="mb-3" src="soundwave.svg"/>
      <h4 class="home-title">Producer kits</h4>
      <p class="home-content text-center">Directly sampled or inspired drum sounds from the best producers in the game</p>
    </div>
    <div class="home-card mx-4">
      <img class="mb-3" src="speaker.svg"/>
      <h4 class="home-title">Machine kits</h4>
      <p class="home-content text-center">Know for their iconic sounds, get it straight from the TR-808, 909, Lynn, or MPC libraries</p>
    </div>
    <div class="home-card mx-4">
      <img class="mb-3" src="adjust.svg"/>
      <h4 class="home-title">Instruments kits</h4>
      <p class="home-content text-center">Live acoustic instrument libraries. Contains piano, rhodes, horns, strings, flutes and more</p>
    </div>
  </div>
</div>

<!--CAROUSEL-->
<div class="carousel mt-3">
  <%= render "shared/carousel" %>
</div>

