.mpc-wrapper{
  margin-top: 2%;
  margin-left: 10%;
}


.frame {
  position:relative;
  display: block;
  border: rgb(184, 184, 184) solid 2px;
  background-color: rgb(206, 206, 206);
  // z-index: -2;
  width: 90%;
  height: 90%;
  border-radius: 11px;
  box-shadow: 0 23px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.screen-wrapper {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: absolute;
  border: black solid 5px;
  background-color: rgb(29, 48, 35);
  border-radius: 1px;
  width: 52%;
  height: 80px;
  top: 36px;
  left: 30px;
}


.brand-wrapper {
  position: absolute;
  top: 36px;
  left: 287px;
}
.brand {
  color: $red;
  font-family: 'roboto';
  font-size: 20px;
  font-weight: 700;
}
.brand2 {
  color: black;
  font-family: 'roboto';
  font-size: 17px;
  font-weight: 500;
}


.pads-wrapper {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 8px;
  border: black transparent 3px;
  border-radius: 5px;
  width: 52%;
  height: 214px;
  top: 133px;
  left: 30px;
}
.pad1 {
  border: black solid 3px;
  background-color: gray;
  border-radius: 5px;
  grid-column: 1;
  grid-row: 1;
}
.pad2 {
  border: black solid 3px;
  background-color: gray;
  border-radius: 5px;
  grid-column: 2;
  grid-row: 1;
}
.pad3 {
  border: black solid 3px;
  background-color: gray;
  border-radius: 5px;
  grid-column: 3;
  grid-row: 1;
}
.pad4 {
  border: black solid 3px;
  background-color: gray;
  border-radius: 5px;
  grid-column: 1;
  grid-row: 2;
}
.pad5 {
  border: black solid 3px;
  background-color: gray;
  border-radius: 5px;
  grid-column: 2;
  grid-row: 2;
}
.pad6 {
  border: black solid 3px;
  background-color: gray;
  border-radius: 5px;
  grid-column: 3;
  grid-row: 2;
}
.pad7 {
  border: black solid 3px;
  background-color: gray;
  border-radius: 5px;
  grid-column: 1;
  grid-row: 3;
}
.pad8 {
  border: black solid 3px;
  background-color: gray;
  border-radius: 5px;
  grid-column: 2;
  grid-row: 3;
}
.pad9 {
  border: black solid 3px;
  background-color: gray;
  border-radius: 5px;
  grid-column: 3;
  grid-row: 3;
}
.pad-sound{
  position:inherit;
  text-align: center;
}


.scroller {
  position: absolute;
  border: black solid 3px;
  border-radius: 50%;
  background-color: gray;
  width: 5rem;
  height: 5rem;
  top: 160px;
  left: 318px;
}
.scroller-circle{
  position: absolute;
  border: black solid 3px;
  border-radius: 50%;
  background-color: black;
  width: 1rem;
  height: 1rem;
  bottom: 39px;
  left: 44px;
}

// .buttons-wrapper {
//   position: relative;
//   display: flex;
//   justify-content: ;
//   border: black solid 3px;
//   border-radius: 5px;
//   width: 31%;
//   height: 79px;
//   top: 269px;
//   left: 286px;
// }
.rec {
  position: absolute;
  border: black solid 3px;
  border-radius: 5px;
  background-color: white;
  width: 13%;
  height: 14%;
  top: 293px;
  left: 291px;
}
.rec-button {
  position: absolute;
  display: flex;
  border: red solid 3px;
  background-color: red;
  border-radius: 50%;
  width: 44%;
  height: 23px;
  top: 14px;
  left: 14px;
}
.play {
  position: absolute;
  border: black solid 3px;
  border-radius: 5px;
  background-color: white;
  width: 13%;
  height: 14%;
  top: 293px;
  left: 370px;
}
.play-button {
  position: absolute;
  display: flex;
  // border: black solid 3px;
  width: 0; 
  height: 0; 
  border-top: 13px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 21px solid black;
  top: 14px;
  left: 18px;
}