.bg-dark {
  // background-color: rgb(31, 31, 31) !important;
}

.icon {
  width: 100px;
  border-radius: 5px;
}

#logo {
  height: 25px;
}

.logo {
 color:red;
 font-weight: 600;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-item {
  font-size: 20px;
}