.navbar {
  align-items: center;
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.item-list {
  position:relative;
  left: 19%;
  margin-bottom: -6.6%;
}
.item-title {
  position:relative;
}
.item-title:hover::after {
  content: '';
    background: $red;
    height: 4px;
    margin: 0 auto;
    left: 7px;
    right: 6%;
    top: 2.25rem;
    position: absolute;
    z-index: 1;
}
.icon {
  width: 60px;
  border-radius: 50%;
}

.mpc-ul {
  text-decoration: none;
  position: relative;
  bottom: 39px;
  left: 26%;
}
.mpc-icon {
  position: relative;
  
}

//LOGO
#logo {
  height: 39px;
  margin-top: -40px;
  margin-bottom: 0;
  position: sticky;
  top: 0px;
  z-index: 10;
}
.logo {
  padding-top: 5px;
  padding-bottom: 2px;
  margin-top: -7px;
  color: #EE3737;
  font-weight: 600;
}
.logo:hover {
  text-decoration: none;
  color: #EE3737;
  text-shadow: 2px 2px 4px #2e2e2e;
}

//CART
.red-circle {
  display: flex;
  justify-content:space-evenly;
  border: rgb(124, 124, 124) solid 1px;
  border-radius: 50%;
  background-color: rgb(124, 124, 124);
  height: 102%;
  width: 183%;
  margin-left: -92%;
  z-index: 0;
}
.fa-shopping-cart {
  // font-size: 19px;
  // padding-top: 59%;
  // if no red-circle:
  color: rgb(255, 255, 255);
  margin-left: -45%;
  padding-top: 39%;
  font-size: 23px;
}

.login {
  margin-right: 1.5%;
}





// SPEAKER
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.b{
  color: $red;
  font-size: 500%;
  font-family: Devonshire;
}
.speaker{
  margin-top: -11%;
  margin-left: 2%;
  border-radius: 50%;
  border: 5px solid #000;
  background-color: #b4b4b4;
  
  &.small{
    margin-bottom: 50px;
    width: 70px;
    height: 70px;
  }
}
.ring{
  width: 70px;
  height: 70px;
  background-color: #b4b4b4;
  border-radius: 50%;
  border: 5px solid #000;
  
  &.small{
    width: 50px;
    height: 50px;
  }
}
.interior{
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #000;
  
  &.small{
    width: 18px;
    height: 18px;
  }
}
.circle1{
  animation: tweeder 1s infinite ease;
}
@keyframes spin{
  0%{ transform: rotate(0deg) }
  100%{ transform: rotate(360deg)}
}
@keyframes elastic{
  0%{ transform: scale(1.1) }
  15%{ transform: scale(1.7) }
  35%{ transform: scale(1.3) }
  70%{ transform: scale(1.5) }
  90%{ transform: scale(1.1) }
  100%{ transform: scale(1) }
}
@keyframes tweeder{
  0%{ transform: scale(1.1) }
  15%{ transform: scale(1.15) }
  35%{ transform: scale(1.1)}
  70%{ transform: scale(1.15) }
  90%{ transform: scale(1.1) }
  100%{ transform: scale(1.1) }
}