.icon {
  width: 100px;
  border-radius: 5px;
}

#logo {
  height: 25px;
}

.logo {
 color:red;
 font-weight: 600;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.fa-circle {
  font-size: 40px;
  color: rgb(223, 51, 51);
}