.image-center {
  margin: 0 auto;
}

.single-card {
  background-color: white;
  margin-top: 10%;
  position: relative;
  top: -17%;
  left: 70%;
  width: 250px;
  box-shadow:  17px -43px 36px -15px rgb(153, 153, 153) !important;
  // border:rgba(153, 153, 153, 0) transparent 1px !important;
}


