
.t-image-center {
  // margin: 0 auto;
  margin-top: -2px;
}

.t-carousel-card {
  margin-top: 20%;
  box-shadow:  17px -43px 36px -15px rgb(153, 153, 153) !important;
}

.green-button {
  margin-bottom: 10%;
  margin-top: -13%;
  margin-left: 0%;
}

.t-add-to-cart {
  margin-top: -15%;
  margin-left: 59%;
}