.product-content-wrapper {
  display:flex;
  justify-content: space-evenly;
}
.product-content {
  font-family: Roboto;
  margin-top: 100px;
  text-align: center;
  width: 400px;
}

.single-product {
  margin-top: 50px;
  margin-right: 25%;
}

.product-background-image {
  position:absolute;
  top:0;
  left:200px;
  // width: 100%;
  // max-height: 500px;
  background-image: linear-gradient(to right, white -0.45%, rgba(255, 255, 255, 0) 67.73%) !important;
  background-repeat: no-repeat;
  background-size: 300px 100px;
  // background-repeat: no-repeat;
  // background-attachment: fixed;
  // background-position: center;
}
