.font-properties {
  font-size: 10px !important;
}

.pad-1 {
  position:relative;
  margin-left: -68%;
  margin-top: 29%;
}

.pad-2 {
  position:absolute;
  margin-left: 26%;
  margin-top: 27%;
}

.pad-3 {
  position:absolute;
  margin-left: 36%;
  margin-top: 27%;
}

.pad-4 {
  position:absolute;
  margin-left: 17%;
  margin-top: 37%;
}

.pad-5 {
  position:absolute;
  margin-left: 27%;
  margin-top: 37%;
}

.pad-6 {
  position:absolute;
  margin-left: 36%;
  margin-top: 37%;
}

.pad-7 {
  position:absolute;
  margin-left: 16%;
  margin-top: 47%;
}

.pad-8 {
  position:absolute;
  margin-left: 26%;
  margin-top: 47%;
}

.pad-9 {
  position:absolute;
  margin-left: 35%;
  margin-top: 47%;
}