<div class="t-wrapper">
    <%= render 'shared/card_product' %>
    <div class="bg">
      <img class="gradient" src="https://res.cloudinary.com/dehuad3aa/image/upload/v1622784050/get-your-drums/jd.jpg" />
      <img class="gradient" src="https://res.cloudinary.com/dehuad3aa/image/upload/v1623038601/get-your-drums/dre.jpg" />
      <img class="gradient" src="https://res.cloudinary.com/dehuad3aa/image/upload/v1623038609/get-your-drums/primo.jpg" />
    </div>
  </div>

