<div class="machines-wrapper">
  <div class="banner img-fluid container" style="max-width: 100%; height: auto;">
  <h1 class="machines-title mb-5">Machines kits</h1>

    <div class="card-product">
      <%= render 'shared/card_product' %>
      <div class="bg">
        <img src="https://res.cloudinary.com/dehuad3aa/image/upload/v1622784050/get-your-drums/jd.jpg" />
        <img src="https://res.cloudinary.com/dehuad3aa/image/upload/v1623038601/get-your-drums/dre.jpg" />
        <img src="https://res.cloudinary.com/dehuad3aa/image/upload/v1623038609/get-your-drums/primo.jpg" />
      </div>
    </div>
  </div>
</div>
