<div class="hero-image">
  <div class="hero-text">
    <h1>STEP YOUR GAME UP</h1>
    <br>
    <button class="btn btn-danger">Click to Explore</button>
  </div>
</div>

<button id="clicker" >Other kits</button>

<div id="mydiv">

  <%= render 'shared/mpc' %>

</div>

<script>$("#mydiv").load(location.href + " #mydiv");</script>