<div class="container-fluid">
  <div class="row">
    <%= render "shared/sidebar" %>
    <main role="main" class="col-md-4 ml-sm-auto col-lg-8 px-4 mt-4">
      <%= cl_image_tag("https://res.cloudinary.com/dehuad3aa/image/upload/v1623138044/get-your-drums/mpc.png",
      width: 530, height: 400, crop: :fill) %>
    </main>
  </div>
</div>



