<div class="product-background-image" style="background-image: url (<%= @product.photo.key %>)" >
  <div class="img-fluid container" style="max-width: 100%; height: auto;">
    <h1 class="products-title mb-5"><%= @product.name.upcase %></h1>
  
    <div class="single-product">
      <%= render 'shared/single_product' %>          
    </div>
  </div>
</div>
